
@import "colors";
@import "mixins";


.nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}
.nav-link {
    font-family: DIN Next W01 Regular,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
}
.nav-upper {
    height: 52px;
    border-bottom: 1px solid $grey;
    padding: 0 20px;
}

.nav-linkContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
   
    &:hover{
            outline: -webkit-focus-ring-color auto 5px;
            outline-color: $orange;
            outline-style: auto;
            outline-width: 5px;
    };
    @include small-phone{
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right: auto;
        padding: 1.2rem 0rem 1.2rem 0rem;
    }
}
.nav-linkWrapper {
    &:hover{
        border-bottom: 1px solid $red
    };
    text-transform: uppercase;
    font-weight: 800;
    height: 1.4rem;
    padding: 0.5rem 1.7rem;
    @include phone{
        padding: 0.3rem 0.9rem;
    }
    cursor: pointer;
    list-style: none;
}

.nav-logo {
    width: 214px;
    margin: auto;
    left: 0;
    right: 0;
    height: 52px;
}

.nav-tabAndLogoContainer,.nav-lower {
    max-width: 1200px;
    margin: auto;
}


.navigation-container a {
    text-decoration: none!important;
}

.navigation-container{

    margin: 0 auto;

}

.nav-lower, .nav-tabAndLogoContainer, .nav-upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navigation__container a {
    text-decoration: none!important;
}
.nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color:white;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}

.nav-link {
    font-family: DIN Next W01 Regular,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
}