@import "mixins";



.bio-full-pic__background .built__background {
    width: 100%;
    height: 100%;
    background-position: top;
    @include medium-to-full{
        background-position: 50%;

    }
}

.built__background--multi.use-vars {
    background-image: var(--imageSm1x)!important;
    @include medium-to-full{
        background-position: 50%;
        background-image: var(--imageLg1x)!important;
    }
    @include small-phone{
        background-image: var(--imageSm2x)!important;

    }
}
figure.built__background, figure img {
    will-change: filter,transform;
}
.built__background {
    --imageLg2x: "";
    --imageLg1x: "";
    --imageSm2x: "";
    --imageSm1x: "";
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.bio-full-pic .bio-full-pic__background {
    @include medium-to-full{
        height: 400px;
    }
    @include medium-to-full{
        position: absolute;
        min-height: 410px;
        max-height: 640px;
        height: 63vh;
        -webkit-box-ordinal-group: inherit;
        -ms-flex-order: inherit;
        order: inherit;
    }
}


figure.img-wrapper {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bio-full-pic__background {
    background-color: #151515;
    height: 280px;
    left: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    position: relative;
    top: 0;
    width: 100%;
}


.bio-full-pic .bio-full-pic__wrapper {
    @include medium-to-full{
        min-height: 410px;
        max-height: 640px;
        height: 63vh;
        -webkit-clip-path: polygon(0 0,0 98%,100% 92%,100% 0);
        clip-path: polygon(0 0,0 98%,100% 92%,100% 0);
    }
}

.bio-full-pic__wrapper {
    position: relative;
    -webkit-clip-path: polygon(0 0,0 99%,100% 95%,100% 0);
    clip-path: polygon(0 0,0 99%,100% 95%,100% 0);
    -webkit-transition: -webkit-clip-path .25s ease-in;
    transition: -webkit-clip-path .25s ease-in;
    transition: clip-path .25s ease-in;
    transition: clip-path .25s ease-in,-webkit-clip-path .25s ease-in;

}

.bio-full-pic.subnav{
    padding: 0 0 15px;
}
.bio-full-pic{
    position: relative;
    width: 100%;
    margin: 0;
    @include medium-to-full{
        background-color: transparent;
    }
}



@include medium-to-full{
    .two-column.rail-above {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction:row;
    }
}

.flex-wrapper{
    margin: 0 auto;
    max-width: 1240px;
    width:100%;
    overflow-x: hidden;
    overflow-y:hidden;

    .flex-col-auto{
        flex: 1;
        -webkit-box-flex: 1;

        
        

        .content-block{
            max-width: 1240px;
            margin-bottom: 58px;
            display: grid;
            grid-column-gap: 1rem;
            @include medium-to-full{
                grid-template-columns: 2fr 5fr;
            }
           

            .title{
                font-family: Trebuchet MS,Helvetica,Arial,sans-serif;;
                color: #151515;
                border-top: 1px solid #979797;
                padding-top: 20px;
                line-height: 28px;
                font-size: 30px;
                font-weight: 400;
                letter-spacing: 2px;
                text-transform: uppercase;
                width: 100%;
                max-width: 180px;
                margin: 0 auto;
            }

            @include medium-to-full{
                grid-template-areas: "leftbody";
            }

            .content-block__left-rail{
                grid-area: left;
                display: block;
                width: 100%;
            }

            .content-block__body{
                grid-area: body;
                position: relative;
                
                .text {
                    font-size: 14px;
                    line-height: 24px;
                    p {
                        font-size: 16px;
                        letter-spacing: 0.5px;
                    }
                }
                img {
                    width: auto;
                    max-width: 100%;
                    height: auto;
                }

                figure.content-block__image{
                    @include medium{
                        margin: 0 auto;
                        figure.img__wrapper{
                            margin: 0 auto;
                        }
                    }
                }

                @include medium-to-full{
                    .title{
                        display: none;
                    }
                }
            }

        }
    }
}
