@import url(https://fonts.googleapis.com/css?family=Quicksand:400);
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import "colors";
@import "mixins";

*{
    box-sizing: border-box;
}
*, :after, :before {
    -webkit-font-smoothing: antialiased;
}

body{
    background: white;
    margin: 0;
    padding: 0;
    height: 100%;    
}
html{
    margin: 0;
    padding: 0;
}


.page__footer {
    position: relative;
    background: black;
    width: 100%;
    padding: 50px 0 38px;
    bottom: 0px;
    display: block;
    height: 50px;

 
}

.navigation-container{
    background: $lightblack;
}