@import url(https://fonts.googleapis.com/css?family=Quicksand:400);
@import url(https://fonts.googleapis.com/css?family=Raleway:300);


$red:#eb2328;
$lightblack:#22262a;
$grey:#393939;
$orange:#e8b63e;
$card-color:#37474f;
$card-bgn:#151515;

$big-tablet-width: 1024px;
$small-tablet-width: 768px;
$desktop-width: 1024px;
$phone-width: 479px;

@mixin big-tablet {
  @media (min-width: #{$small-tablet-width}) and (max-width: #{$desktop-width - 1px }) {
    @content;
  }
}
@mixin small-tablet{
    @media(min-width: #{$phone-width}) and (max-width: #{$small-tablet-width - 1px }){
        @content;
    }
}

@mixin desktop {
  @media (min-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin phone{
    @media(max-width: #{$phone-width}){
        @content;
    }
}


*{
    box-sizing: border-box;
}

body{
    background: $lightblack;
    margin: 0;
    padding: 0;
    height: 100%;    
}
html{
    margin: 0;
    padding: 0;
}





.heroes-section{
    display: grid;
    grid-gap: 1rem;
    min-height: 100%;
    margin: 0 auto -50px;
    align-items: center;
    padding: 2rem;
    margin-bottom: 10rem;
    @include desktop{
        grid-template-columns: repeat(4,1fr);
    }
    @include big-tablet{
        grid-template-columns: repeat(3,1fr);
    }
    @include small-tablet{
        grid-template-columns: repeat(2, 1fr);
    }
    @include phone{
        grid-template-columns: 1fr;
        width: 479px;
        max-width: 479px;
    }
    grid-template-rows: auto;
    justify-items: center;

    .hero-card-wrapper{
        color: $red;
        background-color: black;
        border-radius: 1rem;
        padding: 0.5rem;
        font-weight: bold;
    }
}
// header{
//     margin: 0 auto;
//     display: flex;
//     justify-content: center
// }


.nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}
.nav-link {
    font-family: DIN Next W01 Regular,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
}
.nav-upper {
    height: 52px;
    border-bottom: 1px solid $grey;
    padding: 0 20px;
}

.nav-linkContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    &:hover{
            outline: -webkit-focus-ring-color auto 5px;
            outline-color: $orange;
            outline-style: auto;
            outline-width: 5px;
    };
}
.nav-linkWrapper {
    &:hover{
        border-bottom: 1px solid $red
    };
    text-transform: uppercase;
    font-weight: 800;
    height: 1.7rem;
    padding: 0.5rem 1.7rem;
    cursor: pointer;
    list-style: none;
}

.nav-logo {
    width: 214px;
    margin: auto;
    left: 0;
    right: 0;
    height: 52px;
}

.nav-tabAndLogoContainer,.nav-lower {
    max-width: 1200px;
    margin: auto;
}


.navigation-container a {
    text-decoration: none!important;
}

.nav-lower, .nav-tabAndLogoContainer, .nav-upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navigation__container a {
    text-decoration: none!important;
}
.nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color:white;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}

.nav-link {
    font-family: DIN Next W01 Regular,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
}

.page__footer {
    background: black;
    width: 100%;
    padding: 50px 0 38px;
    height: 50px;
    @include phone{
        max-width: 500px;
        width: 500px;
    };
}

.slider__item .mvl-card {
    white-space: normal;
    z-index: 30;
}
.mvl-card--explore, .mvl-card--large, .mvl-card--lob, .mvl-card--media, .mvl-card--merch {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.mvl-card--explore {
    color: #fff;
    max-width: 100%;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.mvl-card--explore .card-thumb-frame {
    background: $red;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

@media (min-width: 601px)
{
    .mvl-card--explore .card-thumb-frame .img__wrapper {
        height: 210px;
    }
}

.mvl-card--explore .card-thumb-frame .img__wrapper {
    position: relative;
    overflow: hidden;
    height: 320px;
}
figure.img__wrapper {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mvl-card--explore .card-thumb-frame figure img {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    overflow: hidden;
    -o-object-position: top center;
    object-position: top center;
}
.mvl-card img, .mvl-card picture {
    display: block;
    margin: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    padding: 0;
    width: 100%;
    height: 100%;
}

.mvl-card--explore .card-body.is-sliding {
    background: $card-bgn;
    color: $card-color;
    -webkit-transition: color .3s;
    transition: color .3s;
}
.mvl-card .card-body {
    overflow: hidden;
    position: relative;
}
@media (min-width: 768px){
    .mvl-card--explore .card-body {
        padding: 16px 24px 17px 20px;
    }
}

.mvl-card--explore .card-body {
    -moz-osx-font-smoothing: grayscale;
    background: none;
    border: none;
    color: inherit;
    height: 145px;
    padding: 16px 24px 17px 16px;
    position: relative;
    vertical-align: middle;
    z-index: 30;
}

.hero-card-wrapper{
    width: 220px;
}

.mvl-card--explore .card-body .card-footer {
    bottom: 17px;
    position: absolute;
    padding-right: 10px;
    text-align: left;
}
@media (min-width: 768px)
{
    .mvl-card--explore .card-footer {
        left: 20px;
    }
}

.mvl-card--explore .card-body .card-footer__secondary-text {
    color: #c3c3c3;
}
.mvl-card--explore .card-body .card-footer__micro-description, .mvl-card--explore .card-body .card-footer__secondary-text {
    font-family: DINNextW01-CondensedMed,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 12px;
    text-transform: uppercase;
    -webkit-transform: translate3d(0) scale(1);
    transform: translate3d(0) scale(1);
    -webkit-transition: all .17s ease-in-out;
    transition: all .17s ease-in-out;
}

.mvl-card--explore .card-body .card-footer__micro-description {
    color: #999;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
}